---
import Logo from '../components/Logo.astro'

const pages = [
  { title: 'Overview', url: '/' },
  { title: 'Screenshots', url: '/screenshots' },
  { title: 'Releases', url: '/releases' },
  { title: 'FAQ', url: '/faq' },
  { title: 'Source', url: 'https://github.com/mszoek/airyx' },
  { title: 'Try', url: 'https://github.com/mszoek/airyx/releases', highlight: true },
]
---
  <ul class="nav__header">
    <li class="nav__item nav__item--logo">
      <a class="nav__link" href="/" rel="home" aria-label="Go To Homepage">
        <Logo id="header" />
      </a>
    </li>
    <li class="nav__item nav__item--menu">
      <label class="menu__label" for="menu-state" aria-hidden="true">
        <span class="menu__label__bread menu__label__bread--top"></span>
        <span class="menu__label__bread menu__label__bread--middle"></span>
        <span class="menu__label__bread menu__label__bread--bottom"></span>
      </label>
      <a id="nav-button" href="#nav" class="header__ham" title="Open Menu" aria-label="Open Menu"></a>
    </li>
  </ul>

  <ul class="nav__menu">
    <li class="nav__item nav__item--logo">
      <a class="nav__link" href="/" rel="home" aria-label="Go To Homepage">
        <Logo id="full" />
      </a>
    </li>

    {pages.map(page => {
      const current = Astro.request.url.pathname == page.url && 'nav__link--active'
      const highlight = page.highlight && 'nav__link--highlight'

      return (
        <li class={`nav__item nav__item--${page.title.toLowerCase()}`}>
          <a
            href={page.url} class={`nav__link ${highlight} ${current}`}
            aria-current={current}
          >
            {page.title}
          </a>
        </li>
      )
    })}
  </ul>

<script>
  const menuStateInput = document.querySelector('#menu-state')

  menuStateInput.addEventListener('change', (e) => {
    if (e.target.checked) {
      document.documentElement.classList.add('u-lock-scroll')
    } else {
      document.documentElement.classList.remove('u-lock-scroll')
    }
  })

  const header = document.querySelector('#header')

  window.addEventListener('scroll', () => {
    const scroll = window.scrollY

    if (scroll >= 20) {
      header.classList.add('header__inner--raised')
    } else {
      header.classList.remove('header__inner--raised')
    }
  })
</script>

<style>
  .nav__menu {
    @media not (--viewport-large) {
      position: absolute;
      top: calc(var(--global-header-height));
      left: 0;
      right: 0;
      padding: 0 2rem;
      border-top: 1px solid transparent;
      transition: border-top 0.5s linear;
      pointer-events: none;
    }

    @media (--viewport-large) {
      display: flex;
      flex-grow: 1;
      align-items: stretch;
    }
  }

  .header__menu-state:checked ~ .header__inner .nav__menu {
    @media not (--viewport-large) {
      border-top: 1px solid var(--color-border);
      pointer-events: auto;
    }
  }

  .nav__header {
    display: flex;
    flex-grow: 1;

    @media (--viewport-large) {
      display: none;
    }
  }

  .nav__link {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 0.85rem;
    color: var(--color-text-muted);
    transition: color 0.4s linear, background 0.4s linear;

    @media (--viewport-large) {
      border-radius: 2px;
    }

    &:hover {
      color: var(--color-text);
    }
  }

  .nav__menu .nav__link {
    @media not (--viewport-large) {
      transition: opacity 0.4s linear;
      opacity: 0;
      padding: 0.5rem 0;
      border-bottom: 1px solid var(--color-border);
    }
  }

  .header__menu-state:checked ~ :global(.header__inner) :global(.nav__menu) :global(.nav__link) {
    opacity: 1;
  }

  .nav__link--active {
    color: var(--color-primary);
  }

  .nav__link--highlight {
    color: var(--color-primary);
    font-weight: var(--font-bold);

    @media (--viewport-large) {
      border-radius: 999px;
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  .nav__item {
    @media (--viewport-large) {
      display: flex;
    }
  }

  .nav__item--logo {
    --logo-size: calc(var(--global-header-height) - var(--padding) * 2);
    --logo-sky: var(--color-primary);
    --logo-land: var(--color-primary);

    & .nav__link {
      padding-inline: 0;
      border-radius: 100%;
    }
  }

  .nav__menu .nav__item--logo {
    @media not (--viewport-large) {
      display: none;
    }
  }

  .nav__item:first-child {
    margin-inline-end: auto;
  }

  .nav__item:last-child {
    margin-inline-start: auto;
  }

  .nav__item--menu {
    position: relative;
    height: calc(var(--global-header-height) - var(--padding) * 2);
    width: calc(var(--global-header-height) - var(--padding) * 2);

    @media (--viewport-large) {
      display: none;
    }
  }

  .menu__label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  .menu__label__bread {
    display: block;
    width: 18px;
    height: 2px;

    background: var(--color-text-muted);
    border-radius: 1px;

    position: absolute;
    left: 7px;
    z-index: 1;

    transition: transform 0.5s var(--animation-eased);
  }

  .menu__label__bread--top {
    top: 10px;
  }

  .menu__label__bread--middle {
    top: calc(50% - 1px);
  }

  .menu__label__bread--bottom {
    bottom: 10px;
  }

  .header__menu-state:checked ~ .header__inner .menu__label__bread--top {
    transform: translateY(5px) rotate(45deg);
  }

  .header__menu-state:checked ~ .header__inner .menu__label__bread--middle {
    transform: scaleX(0);
  }

  .header__menu-state:checked ~ .header__inner .menu__label__bread--bottom {
    transform: translateY(-5px) rotate(-45deg);
  }
</style>
